#awyloading {width: 300px;}

.gray-bg{fill:#C4C4C4;}


#colorchange {
  animation: flying 6s;
}

#plane{
  fill:#111111;
  animation: flying 6s;
}

@keyframes flying {
  0%{transform:
    translate(-80px, 0px)}}

.white-fill{fill:#FFFFFF;}
