<div class="pie-wrapper progress-88 style-2" style="margin-left:160px">
  <span class="label">88<span class="smaller">%</span>    <span style="font-size:20px;margin-top:70px;margin-left:-79px;position:absolute;font-size:bolder">Load Factor</span>
</span>
  <div class="pie">
    <div class="left-side half-circle"></div>
    <div class="right-side half-circle"></div>
  </div>
  <div class="shadow"></div>
</div>

<div class="pie-wrapper progress-87 style-2" >
  <span class="label">87<span class="smaller">%</span>    <span style="font-size:20px;margin-top:70px;margin-left:-90px;position:absolute;font-size:bolder">Loading Perf.</span>
</span>

  <div class="pie">
    <div class="left-side half-circle"></div>
    <div class="right-side half-circle"></div>
  </div>
  <div class="shadow"></div>
</div>

<div class="pie-wrapper progress-91 style-2" >
  <span class="label">91<span class="smaller">%</span>    <span style="font-size:20px;margin-top:70px;margin-left:-95px;position:absolute;font-size:bolder">On Time Perf.</span>
</span>

  <div class="pie">
    <div class="left-side half-circle"></div>
    <div class="right-side half-circle"></div>
  </div>
  <div class="shadow"></div>
</div>


<div class="pie-wrapper progress-89 style-2" >
  <span class="label">89<span class="smaller">%</span>    <span style="font-size:20px;margin-top:70px;margin-left:-108px;position:absolute;font-size:bolder">Unloading Perf.</span>
</span>

  <div class="pie">
    <div class="left-side half-circle"></div>
    <div class="right-side half-circle"></div>
  </div>
  <div class="shadow"></div>
</div>

<div class="pie-wrapper progress-86 style-2" >
  <span class="label">86<span class="smaller">%</span>    <span style="font-size:20px;margin-top:70px;margin-left:-103px;position:absolute;font-size:bolder">Ground Time</span>
</span>

  <div class="pie">
    <div class="left-side half-circle"></div>
    <div class="right-side half-circle"></div>
  </div>
  <div class="shadow"></div>
</div>
