<div class="container" style="justify-content: center;
  align-items: center;">
  <div class="table-responsive">
    <app-agreement-header style="margin-top:-100px"></app-agreement-header>
    <table class="table" style="border: 3px solid #0b1809;border-radious:3px">
      <thead>
      <tr style="font-weight:bolder;border: 2px solid #0b1809;">
        <th scope="col">OPERATION TYPE</th>
        <th scope="col">SERVICE TYPE</th>
        <th scope="col">EVENTS</th>
        <th scope="col">REFERENCE TIME</th>
        <th scope="col">PENALTY</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="noBorder">EXPORT</td>
        <td class="noBorder">WHS</td>
        <td class="noBorder">UWS</td>
        <td class="noBorder">-120</td>
        <td class="noBorder">Y</td>
      </tr>
      <tr>
        <td class="noBorder">EXPORT</td>
        <td class="noBorder">WHS</td>
        <td class="noBorder">LIR</td>
        <td class="noBorder">-90</td>
        <td class="noBorder">Y</td>
      </tr>
      <tr>
        <td class="noBorder">EXPORT</td>
        <td class="noBorder">WHS</td>
        <td class="noBorder">LPOW</td>
        <td class="noBorder">-60</td>
        <td class="noBorder"></td>
      </tr>
      <tr>
        <td class="noBorder">EXPORT</td>
        <td class="noBorder">RMP</td>
        <td class="noBorder">ALS</td>
        <td class="noBorder">-45</td>
        <td class="noBorder"></td>
      </tr>
      <tr>
        <td class="noBorder">EXPORT</td>
        <td class="noBorder">RMP</td>
        <td class="noBorder">ALE</td>
        <td class="noBorder">-45</td>
        <td class="noBorder"></td>
      </tr>
      <tr>
        <td class="noBorder">EXPORT</td>
        <td class="noBorder">RMP</td>
        <td class="noBorder">OFB</td>
        <td class="noBorder">-30</td>
        <td class="noBorder"></td>
      </tr>
      <tr>
        <td class="noBorder">EXPORT</td>
        <td class="noBorder">RMP</td>
        <td class="noBorder">WHU</td>
        <td class="noBorder">0</td>
        <td class="noBorder"></td>
      </tr>
      <tr>
        <td class="noBorder">EXPORT</td>
        <td class="noBorder">RMP</td>
        <td class="noBorder">EXC</td>
        <td class="noBorder">60</td>
        <td class="noBorder">Y</td>
      </tr>
      <tr>
        <td class="noBorder">EXPORT</td>
        <td class="noBorder">RMP</td>
        <td class="noBorder">EXR</td>
        <td class="noBorder">0</td>
        <td class="noBorder">Y</td>
      </tr>
      <tr>
        <td class="noBorder">IMPORT</td>
        <td class="noBorder">RMP</td>
        <td class="noBorder">WDO</td>
        <td class="noBorder">0</td>
        <td class="noBorder"></td>
      </tr>
      <tr>
        <td class="noBorder">IMPORT</td>
        <td class="noBorder">RMP</td>
        <td class="noBorder">ONB</td>
        <td class="noBorder">30</td>
        <td class="noBorder"></td>
      </tr>
      <tr>
        <td class="noBorder">IMPORT</td>
        <td class="noBorder">RMP</td>
        <td class="noBorder">AUS</td>
        <td class="noBorder">90</td>
        <td class="noBorder"></td>
      </tr>
      <tr>
        <td class="noBorder">IMPORT</td>
        <td class="noBorder">RMP</td>
        <td class="noBorder">AUE</td>
        <td class="noBorder">90</td>
        <td class="noBorder">Y</td>
      </tr>
      <tr>
        <td class="noBorder">IMPORT</td>
        <td class="noBorder">WHS</td>
        <td class="noBorder">LIPW</td>
        <td class="noBorder">120</td>
        <td class="noBorder"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
